@model List<BookWellsCollectionServiceModel>

@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="well col-md-12" id="homePopularBooks">
        <h2 class="media-heading">Popular Books</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <p class="col-md-12 lead">These are our most rated books recently.</p>
        }
        else
        {
            <p class="col-md-12 lead">These are our most rated books recently. Please register to share you knowledge about books you have read. You can also use our shop.</p>
        }

        @{
            int picsInRow = 6;
            int rowCount = WebConstants.HomeIndexBooksRowCount;
        }

        @for (int i = 0; i < rowCount; i++)
        {
            <div class="row">
                @foreach (var book in Model.Skip(i * picsInRow).Take(picsInRow))
                {
                <div class="col-xs-6 col-md-2 text-center container">
                    <div class="well image-card">
                        <a href="/books/@book.Id">
                            <p class="panel-title">@book.Title</p>
                            <img class="img-thumbnail" alt="picture of @book.Title" src="@book.ImgUrl" />
                        </a>
                        <div class="row">
                            <button class="btn btn-info btn-xs"> Opinions <span class="badge">@book.OpinionsCount</span></button>
                            <button class="btn btn-success btn-xs"> Rating<span class="badge">@book.RatingsCount</span></button>
                        </div>
                    </div>
                </div>
                }
            </div>
        }
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <label class="col-md-12 well text-info">
            Login to see our full collection and recommendations.
            <a class="btn-link" href="/account/register">&raquo;Register here</a> or <a class="btn-link" href="/account/login">Log in&raquo;</a>
        </label>
    }
</section>