@model UserListingsViewModel

@{
    ViewData["Title"] = "User Administration";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th>Current Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
        <tr>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>@string.Join(", ", @user.CurrentRoles)</td>
            <td>
                @*asp-action="AddToRole"*@
                <form asp-controller="Users" method="post">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="hidden" name="UserId" value="@user.Id" />
                            <select name="Role" asp-items="Model.Roles" class="form-control">
                                <option>--</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="btn btn-sm btn-primary" type="submit" value="Add Role" asp-action="AddToRole" />
                        </div>
                        <div class="col-md-4">
                            <input class="btn btn-sm btn-primary" type="submit" value="Remove Role" asp-action="RemoveFromRole" />
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>