@model AllBooksViewModel

<div class="panel-title row well well-sm">
    @if (string.IsNullOrEmpty(Model.Search))
    {
        <h2 class="col-lg-3">All Books</h2>
    }
    else
    {
        <div class="col-lg-3">
            <h2>Searching for</h2>
            @Model.Search
        </div>
    }

    <p class="control-label ">Sort by: </p>
    <div id="sortTypes" class=" col-lg-9">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Title", "all", "books", routeValues: new { sortOrder = "title" }, htmlAttributes: null)</li>
            <li>@Html.ActionLink("Author", "all", "Books", routeValues: new { sortOrder = "author" }, htmlAttributes: null)</li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Creation Date <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Old first", "all", "books", routeValues: new { sortOrder = "oldfirst" }, htmlAttributes: null)</li>
                    <li>@Html.ActionLink("New first", "all", "books", routeValues: new { sortOrder = "newFirst" }, htmlAttributes: null)</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Opinions", "all", "books", routeValues: new { sortOrder = "opinions" }, htmlAttributes: null)</li>
            <li>@Html.ActionLink("Rating", "all", "books", routeValues: new { sortOrder = "rating" }, htmlAttributes: null)</li>
        </ul>
        <ul class="nav navbar-right">
            <li>
                @using (Html.BeginForm("all", "books", FormMethod.Get))
                {
                    <div>
                        @Html.ValidationSummary(true, "summaryMessage", new { @class = "text-danger" })
                        <span class="form-inline">
                            @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-control", placeholder = "Search by Title:" } })
                            @Html.ValidationMessageFor(model => model.Search)
                            <input type="submit" value="Search" class="btn btn-info" />
                        </span>
                    </div>
                }
            </li>
        </ul>
    </div>
</div>

@if (TempData[WebConstants.TempDataAddedBookMessageKey] != null)
{
    <div class="alert-success">
        @TempData[WebConstants.TempDataAddedBookMessageKey]
    </div>
}

@{
    int picsInRow = WebConstants.NumberOfBooksInRow;
    int rowCount = Model.Books.Count / picsInRow + Model.Books.Count % picsInRow;
    ViewData["picsInRow"] = picsInRow;
    ViewData["rowCount"] = rowCount;
}

@Html.Partial("_BooksInRowsPartial", Model.Books)

@if (Model.Pager.EndPage > 1)
{
    <ul class="pagination">
        @if (Model.Pager.CurrentPage > 1)
        {
            <li>
                @Html.ActionLink("First", "all", "books", routeValues: new { sortOrder = Model.SortOrder, page = 1, search = Model.Search }, htmlAttributes: null)
            </li>
            <li>
                @Html.ActionLink("Previous", "all", "books", routeValues: new { sortOrder = Model.SortOrder, page = (Model.Pager.CurrentPage - 1), search = Model.Search }, htmlAttributes: null)
            </li>
        }
        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
        {
            <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                @Html.ActionLink(@page.ToString(), "all", "books", routeValues: new { sortOrder = Model.SortOrder, page = page, search = Model.Search }, htmlAttributes: null)
            </li>
        }
        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {
            <li>
                @Html.ActionLink("Next", "all", "books", routeValues: new { sortOrder = Model.SortOrder, page = (Model.Pager.CurrentPage + 1), search = Model.Search }, htmlAttributes: null)
            </li>
            <li>
                @Html.ActionLink("Last", "all", "books", routeValues: new { sortOrder = Model.SortOrder, page = (Model.Pager.TotalPages), search = Model.Search }, htmlAttributes: null)
            </li>
        }
    </ul>
}