@model List<BookWellsCollectionServiceModel>

@{
    int picsInRow = (int)ViewData["picsInRow"];
    int rowCount = (int)ViewData["rowCount"];
}

@for (int i = 0; i < rowCount; i++)
{
    <div class="row">
        @foreach (var book in Model.Skip(i * picsInRow).Take(picsInRow))
        {
            <div class="col-xs-6 col-md-3 text-center book-card">

                <div class="panel panel-default panel-info">
                    <div class="">
                        <a href="/books/@book.Id">
                            <p>@book.Title</p>
                        </a>
                    </div>
                    <div class="panel-body">
                        <a href="/books/@book.Id">
                            <img class="img-responsive center-block" alt="picture of @book.Title" src="@book.ImgUrl" />
                        </a>
                        <div class="row">
                            <label class="btn btn-info btn-xs"> Opinions <span class="badge">@book.OpinionsCount</span></label>
                            <label class="btn btn-success btn-xs"> Rating<span class="badge">@book.RatingsCount</span></label>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
}